 body {
   height: auto;
   background: #191765;
 }

 section {
   min-height: 950px;
   height: auto;
 }

 h1, .h3-color, .h2-color{
   color: #9390FF;
 }

 /* .project-section {
   min-height: 500px;
   background-color: antiquewhite;
   
 } */

 /* .h3-color{
  color: #9390FF;
} */

.card-body{
  /* min-height: 375px; */
}

.img-project{
  max-height: 448px;
}

.btn-color {
  background-color: #9390ff;
}